In [1]:
from pykrx import stock

In [4]:
start_date = '2000-01-01'
end_date = '20220331'

In [5]:
ks_tickers = stock.get_market_ticker_list(date=end_date, market="KOSPI")

In [6]:
kq_tickers = stock.get_market_ticker_list(date=end_date, market="KOSDAQ")

In [7]:
len(ks_tickers), len(kq_tickers)

(940, 1556)

In [8]:
from tqdm import tqdm
no_data_list_kospi = []
for ticker in tqdm(ks_tickers):
    try:
        stock.get_market_ohlcv_by_date(fromdate=start_date, 
                                       todate=end_date,
                                       ticker=ticker).to_parquet(f'data_kospi/{ticker}.parquet')
    except:
        no_data_list_kospi += [ticker]

100%|██████████| 940/940 [03:24<00:00,  4.60it/s]

In [9]:
no_data_list_kosdaq = []
for ticker in tqdm(kq_tickers):
    try:
        stock.get_market_ohlcv_by_date(fromdate=start_date, 
                                       todate=end_date,
                                       ticker=ticker).to_parquet(f'data_kosdaq/{ticker}.parquet')
    except:
        no_data_list_kosdaq += [ticker]

100%|██████████| 1556/1556 [03:52<00:00,  6.68it/s]

In [25]:
import os
files = [f for f in os.listdir('data_kospi') if len(f)==14] # 종목 데이터만 선택

In [50]:
file = files[0]
pd.read_parquet(f'data_kospi/{file}').assign(종목코드=file.split('.')[0]).set_index('종목코드', append=True).swaplevel()

                     시가    고가    저가    종가      거래량
종목코드   날짜
095570 2015-08-21  6180  7300  5600  7100  1994022
       2015-08-24  6700  6940  6240  6480   392831
       2015-08-25  6610  6730  6189  6220   242730
       2015-08-26  6260  7760  6260  7090   703721
       2015-08-27  7239  8060  6960  7570   499913
...                 ...   ...   ...   ...      ...
       2022-03-25  6100  6130  5970  6030    83143
       2022-03-28  5970  6270  5970  6180   149496
       2022-03-29  6090  6220  6050  6080    70328
       2022-03-30  6100  6190  5990  6170    79050
       2022-03-31  6170  6220  6100  6190    57299

[1624 rows x 5 columns]

In [51]:
import pandas as pd
data_kospi = pd.concat([pd.read_parquet(f'data_kospi/{file}').assign(종목코드=file.split('.')[0]).set_index('종목코드', append=True).swaplevel() for file in files], axis=0)

In [52]:
files = [f for f in os.listdir('data_kosdaq') if len(f)==14] # 종목 데이터만 선택

In [54]:
data_kosdaq = pd.concat([pd.read_parquet(f'data_kosdaq/{file}').assign(종목코드=file.split('.')[0]).set_index('종목코드', append=True).swaplevel() for file in files], axis=0)

In [ ]:
data_kospi.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4038103 entries, 2015-08-21 to 2022-03-31
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   시가      int32
 1   고가      int32
 2   저가      int32
 3   종가      int32
 4   거래량     int32
dtypes: int32(5)
memory usage: 107.8 MB

In [ ]:
data_kosdaq.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4494584 entries, 2002-04-23 to 2022-03-31
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   시가      int32
 1   고가      int32
 2   저가      int32
 3   종가      int32
 4   거래량     int32
dtypes: int32(5)
memory usage: 120.0 MB

In [ ]:
data_kosdaq.to_parquet('kosdaq_listed_pykrx.parquet')

In [ ]:
data_kospi.to_parquet('kospi_listed_pykrx.parquet')

In [ ]:
pd.read_parquet('kospi_listed_pykrx.parquet')

              시가    고가    저가    종가       거래량
날짜
2015-08-21  6180  7300  5600  7100   1994022
2015-08-24  6700  6940  6240  6480    392831
2015-08-25  6610  6730  6189  6220    242730
2015-08-26  6260  7760  6260  7090    703721
2015-08-27  7239  8060  6960  7570    499913
...          ...   ...   ...   ...       ...
2022-03-25  2850  2870  2780  2790    623497
2022-03-28  2795  2815  2730  2770    574122
2022-03-29  2755  2825  2710  2745    555086
2022-03-30  2785  3205  2735  2890  10896198
2022-03-31  2860  2950  2810  2910   1181048

[4038103 rows x 5 columns]

In [ ]:
pd.read_parquet('kosdaq_listed_pykrx.parquet')

              시가    고가    저가    종가      거래량
날짜
2002-04-23  3316  3316  3316  3315   545120
2002-04-24  3652  3714  3382  3712   703615
2002-04-25  4158  4158  3268  3817  3843510
2002-04-26  3731  3820  3361  3360   880555
2002-04-29  2968  3142  2959  2959   696940
...          ...   ...   ...   ...      ...
2022-03-25  9260  9260  9130  9180    15980
2022-03-28  9180  9180  9060  9140    14712
2022-03-29  9150  9150  9050  9100    11512
2022-03-30  9100  9190  9070  9100    11770
2022-03-31  9180  9180  9030  9130    12115

[4494584 rows x 5 columns]